$cream: #fff3e0;
$d-cream: #ddbea8;
$black: #160f29;
$blue: #26408b;

$playfair: 'Playfair Display', serif;
$mono: 'Source Code Pro', monospace;

body {
    background-color: $cream;
    font-family: $mono;
}

h1 {
    color: $blue;
    font-family: $playfair;
}

p {
    text-align: justify;
}

.blockquote {
    border-left: 2px solid $d-cream;
    padding: 5px 0 5px 15px;
    font-style: italic;
    text-align: justify;
    
    .credit {
        font-size: 0.8em;
        font-style: normal;
    }
}

a {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease-out;
}

a:hover {
    text-decoration: none;
    color: $black;
}

::selection {
    background-color: $d-cream;
}